In [1]:
import pandas as pd
import sys, os

module_path = os.path.abspath(os.path.join('..'))
if module_path not in sys.path:
    sys.path.append(module_path)

In [2]:
DATA_PATH="../data/"

In [3]:
dbs = ["cedrinho", "guaribu", "ipe", "jatoba", "mandioqueiro", "virola"]

In [4]:
db_df = pd.DataFrame()

In [5]:
for db in dbs:
    table_df = pd.read_csv(f"{DATA_PATH}{db}.csv", low_memory=False, sep=",")
    db_df = pd.concat([db_df, table_df], ignore_index=True)

In [6]:
db_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2980544 entries, 0 to 2980543
Data columns (total 39 columns):
 #   Column               Dtype
---  ------               -----
 0   Unnamed: 0           int64
 1   index                int64
 2   Unnamed: 0.1         int64
 3   Codigo               int64
 4   Registro             object
 5   TpRegistro           object
 6   OrigemID             object
 7   NomeOrigem           object
 8   CPF_CNPJ_Rem         object
 9   CTFOrigem            int64
 10  EntJuridica_Rem      object
 11  TpRem                object
 12  UFOrigem             object
 13  MunOrigem            object
 14  LatOrigem            float64
 15  LongOrigem           float64
 16  DestinoID            object
 17  NomeDestino          object
 18  CPF_CNPJ_Des         object
 19  CTFDestino           float64
 20  EntJuridica_Des      object
 21  TpDes                object
 22  UFDestino            object
 23  MunDestino           object
 24  LatDestino           float64
 25  LongDestino          float64
 26  Autorizacao          float64
 27  TpAutorizacao        object
 28  Produto              object
 29  NomePopular          object
 30  NomeCientifico       object
 31  Unidade              object
 32  Volume               float64
 33  DtEmissao            object
 34  Ano                  int64
 35  Status               object
 36  NomePopularAgregado  object
 37  datetimeDtEmissao    object
 38  ID                   int64
dtypes: float64(7), int64(7), object(25)
memory usage: 886.9+ MB

In [7]:
db_df[(db_df["CPF_CNPJ_Rem"]==db_df["CPF_CNPJ_Des"])][["TpRem", "TpDes", "OrigemID","UFOrigem", "MunOrigem", "LatOrigem", "LongOrigem", "DestinoID", "UFDestino", "MunDestino", "LatDestino", "LongDestino"]]

,TpRem,TpDes,OrigemID,UFOrigem,MunOrigem,LatOrigem,LongOrigem,DestinoID,UFDestino,MunDestino,LatDestino,LongDestino
1358,PTO_IBAMA,PTO_IBAMA,PTO-16525402000140,PR,CURITIBA,-25.534778,-49.250417,PTO-16525402000140,PR,CURITIBA,-25.569139,-49.262444
1583,PTO_IBAMA,PTO_IBAMA,PTO-16525402000140,PR,CURITIBA,-25.534778,-49.250417,PTO-16525402000140,PR,CURITIBA,-25.569139,-49.262444
1648,PTO_IBAMA,PTO_IBAMA,PTO-19777703000159,PR,LAPA,-25.756000,-49.723778,PTO-19777703000159,PR,LAPA,-25.769722,-49.715833
1649,PTO_IBAMA,PTO_IBAMA,PTO-19777703000159,PR,LAPA,-25.756000,-49.723778,PTO-19777703000159,PR,LAPA,-25.769722,-49.715833
2686,PTO_IBAMA,PTO_IBAMA,PTO-19777703000159,PR,LAPA,-25.756000,-49.723778,PTO-19777703000159,PR,LAPA,-25.769722,-49.715833
...,...,...,...,...,...,...,...,...,...,...,...,...
2980344,PTO_IBAMA,PTO_IBAMA,PTO-02359572000359,MG,CONCEICAO DO MATO DENTRO,NaN,NaN,PTO-02359572000359,MG,CONCEICAO DO MATO DENTRO,NaN,NaN
2980345,PTO_IBAMA,PTO_IBAMA,PTO-02359572000359,MG,CONCEICAO DO MATO DENTRO,NaN,NaN,PTO-02359572000359,MG,CONCEICAO DO MATO DENTRO,NaN,NaN
2980346,PTO_IBAMA,PTO_IBAMA,PTO-02359572000359,MG,CONCEICAO DO MATO DENTRO,NaN,NaN,PTO-02359572000359,MG,CONCEICAO DO MATO DENTRO,NaN,NaN
2980512,PTO_IBAMA,PTO_IBAMA,PTO-21513910000148,AM,HUMAITA,-7.558556,-63.269778,PTO-21513910000148,AM,HUMAITA,-7.558333,-63.269778
2980521,PTO_IBAMA,PTO_IBAMA,PTO-21513910000148,AM,HUMAITA,-7.558556,-63.269778,PTO-21513910000148,AM,HUMAITA,-7.558333,-63.269778

In [8]:
db_df[(db_df["EntJuridica_Des"]=="PF")]

,Unnamed: 0,index,Unnamed: 0.1,Codigo,Registro,TpRegistro,OrigemID,NomeOrigem,CPF_CNPJ_Rem,CTFOrigem,...,NomePopular,NomeCientifico,Unidade,Volume,DtEmissao,Ano,Status,NomePopularAgregado,datetimeDtEmissao,ID
1,1,30,30,9324691971167227,17216676,DOF,PTO-73304982000189,EUNILO ROQUE DE ALMEIDA & CIA LTDA,73304982000189,17603,...,Cedrinho,Erismauncinatum,M3,0.2180,05/01/2017,2017,Emitido,cedrinho,2017-05-01,1
2,2,31,31,9324691971167227,17216676,DOF,PTO-73304982000189,EUNILO ROQUE DE ALMEIDA & CIA LTDA,73304982000189,17603,...,Cedrinho,Erismauncinatum,M3,0.3680,05/01/2017,2017,Emitido,cedrinho,2017-05-01,2
10,10,73,73,1957515423817292,18870125,DOF,PTO-07120780000152,E.B.L. CONSTRUÇÕES,7120780000152,1784594,...,Cedrinho,Erismauncinatum,M3,0.0200,12/12/2017,2017,Emitido,cedrinho,2017-12-12,10
12,12,100,100,2522176139457439,18863184,DOF,PTO-05643675000172,MADEIREIRA J. K. LTDA EPP,5643675000172,1809343,...,Cedrinho,Erismauncinatum,M3,1.1000,11/12/2017,2017,Emitido,cedrinho,2017-11-12,12
13,13,109,109,5348126228477591,18830275,DOF,PTO-76522598000140,L. SOVIERZOSKI & CIA LTDA.,76522598000140,186897,...,Cedrinho,Erismauncinatum,M3,0.1245,05/12/2017,2017,Emitido,cedrinho,2017-05-12,13
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2980539,10230,14046324,76355,4586365163457247,18408748,DOF,PTO-89835284000140,MADEIREIRA GUARUJÁ LTDA,89835284000140,74610,...,Bicuíba,Virolasurinamensis,M3,0.9066,14/09/2017,2017,Emitido,Virola,2017-09-14,10230
2980540,10231,14209289,239320,6313751321996763,21369038,DOF,PTO-92194257000140,M. PEDROTTI & CIA LTDA,92194257000140,62952,...,Bicuíba,Virolasurinamensis,M3,7.5210,05/06/2019,2019,Emitido,Virola,2019-05-06,10231
2980541,10232,14258095,288126,2592541239139193,22706783,DOF,PTO-92194257000140,M. PEDROTTI & CIA LTDA,92194257000140,62952,...,Bicuíba,Virolasurinamensis,M3,1.0000,09/03/2020,2020,Emitido,Virola,2020-09-03,10232
2980542,10233,14336475,366506,5398544769427143,22464016,DOF,PTO-92194257000140,M. PEDROTTI & CIA LTDA,92194257000140,62952,...,Bicuíba,Virolasurinamensis,M3,1.0000,16/01/2020,2020,Emitido,Virola,2020-01-16,10233
2980543,10234,14340336,370367,6853917172657396,22463725,DOF,PTO-92194257000140,M. PEDROTTI & CIA LTDA,92194257000140,62952,...,Bicuíba,Virolasurinamensis,M3,2.0000,16/01/2020,2020,Emitido,Virola,2020-01-16,10234

### Graph by Id only

In [9]:
id_graph_df = db_df[["OrigemID", "DestinoID"]].reset_index(drop=True).set_index(["OrigemID"]).drop_duplicates()
id_graph_df.reset_index(inplace=True, drop=True)
id_graph_df.sort_values(by="OrigemID", inplace=True)
id_graph_df

                                      OrigemID           DestinoID
417931         MANEJO-00046275207(-5.27,-60.3)  PTO-15016849000120
498778  MANEJO-00070532000103(-15.733,-47.893)  PTO-00070532000103
991219      MANEJO-00202892271(-3.062,-63.162)  PTO-11195622000139
59105      MANEJO-00254100163(-10.342,-67.755)  PTO-04642220000170
59224      MANEJO-00254100163(-10.545,-67.645)  PTO-27894727000116
...                                        ...                 ...
427468                      PTO-98658974000161   FINAL-29954789049
536920                         PTO-997********     PTO-997********
536898                         PTO-99797992268     PTO-99797992268
990241                         PTO-99890070200     PTO-99890070200
990318                         PTO-999********     PTO-999********

[991241 rows x 2 columns]

In [10]:
origem_nodes = id_graph_df[["OrigemID"]].drop_duplicates()
origem_nodes.rename(columns={"OrigemID":"ID"}, inplace=True)
origem_nodes

                                            ID
417931         MANEJO-00046275207(-5.27,-60.3)
498778  MANEJO-00070532000103(-15.733,-47.893)
991219      MANEJO-00202892271(-3.062,-63.162)
59105      MANEJO-00254100163(-10.342,-67.755)
59224      MANEJO-00254100163(-10.545,-67.645)
...                                        ...
420794                      PTO-98658974000161
536920                         PTO-997********
536898                         PTO-99797992268
990241                         PTO-99890070200
990318                         PTO-999********

[10877 rows x 1 columns]

In [11]:
desino_nodes = id_graph_df.reset_index()[["DestinoID"]].drop_duplicates()
desino_nodes.rename(columns={"DestinoID":"ID"}, inplace=True)
desino_nodes

                        ID
0       PTO-15016849000120
1       PTO-00070532000103
2       PTO-11195622000139
3       PTO-04642220000170
4       PTO-27894727000116
...                    ...
991236   FINAL-29954789049
991237     PTO-997********
991238     PTO-99797992268
991239     PTO-99890070200
991240     PTO-999********

[991241 rows x 1 columns]

In [12]:
total_nodes = pd.concat([origem_nodes, desino_nodes], ignore_index=True).drop_duplicates()
total_nodes

                                             ID
0               MANEJO-00046275207(-5.27,-60.3)
1        MANEJO-00070532000103(-15.733,-47.893)
2            MANEJO-00202892271(-3.062,-63.162)
3           MANEJO-00254100163(-10.342,-67.755)
4           MANEJO-00254100163(-10.545,-67.645)
...                                         ...
1002109                         PTO-69457603087
1002110                       FINAL-93633459049
1002111                         PTO-07412711091
1002112                         PTO-43673384015
1002113                       FINAL-29954789049

[993114 rows x 1 columns]

### Graph by Complex ID

In [21]:
graph_df = db_df[["NomeOrigem", "OrigemID","UFOrigem", "MunOrigem", "NomeDestino", "DestinoID", "UFDestino", "MunDestino"]].reset_index(drop=True).drop_duplicates()
graph_df.reset_index(inplace=True, drop=True)
graph_df.sort_values(by="OrigemID", inplace=True)
graph_df

,NomeOrigem,OrigemID,UFOrigem,MunOrigem,NomeDestino,DestinoID,UFDestino,MunDestino
503041,FABIO VAZ DE MELO,"MANEJO-00030966299(-7.997,-61.269)",AM,MANICORE,L DIAS COM. DE MAD. E ARTEFATOS - ME (MADEKLE...,PTO-12175331000141,AM,MANICORE
704423,JARBAS CARDOSO DUARTE,"MANEJO-00031847226(-5.47,-60.15)",AM,NOVO ARIPUANA,DJ INDÚSTRIA E COMERCIO DE MADEIRAS E TRANSPOR...,PTO-10778505000135,AM,HUMAITA
610903,NAILANE GONÇALVES DOS SNTOS,"MANEJO-00036493260(-5.373,-60.101)",AM,NOVO ARIPUANA,MADEIREIRA MBM LTDA ME,PTO-11851021000137,AM,MANICORE
704626,RAFAEL DE ALENCAR QUIRINO,"MANEJO-00046275207(-5.27,-60.3)",AM,NOVO ARIPUANA,J P DE PEREIRA E CIA LTDA,PTO-22997712000160,AM,PARINTINS
501363,RAFAEL DE ALENCAR QUIRINO,"MANEJO-00046275207(-5.27,-60.3)",AM,NOVO ARIPUANA,IMADAM INDÚSTRIA DE MADEIRAS DO AMAZONAS LTDA,PTO-15016849000120,AM,NOVO ARIPUANA
...,...,...,...,...,...,...,...,...
557650,SCHMITT - COMERCIAL DE MADEIRAS LTDA.,PTO-98658974000161,RS,VERA CRUZ,CONSUMIDOR FINAL,FINAL-54081238049,RS,VERA CRUZ
652073,JDSF,PTO-997********,PA,RUROPOLIS,JDSF,PTO-997********,PA,RUROPOLIS
651936,JEANE DA SILVA FACIONI,PTO-99797992268,PA,RUROPOLIS,JEANE DA SILVA FACIONI,PTO-99797992268,PA,RUROPOLIS
1221417,EDENILSON DE SOUZA E SILVA,PTO-99890070200,PA,ANAJAS,EDENILSON DE SOUZA E SILVA,PTO-99890070200,PA,ANAJAS
1221624,SJL,PTO-999********,PA,AFUA,SJL,PTO-999********,PA,AFUA

In [17]:
origem_nodes = graph_df[["NomeOrigem", "OrigemID","UFOrigem", "MunOrigem"]].drop_duplicates()
origem_nodes.rename(columns={"NomeOrigem":"Name", "OrigemID":"ID","UFOrigem":"UF", "MunOrigem":"Mun"}, inplace=True)
origem_nodes

,Name,ID,UF,Mun
507783,FABIO VAZ DE MELO,"MANEJO-00030966299(-7.997,-61.269)",AM,MANICORE
710535,JARBAS CARDOSO DUARTE,"MANEJO-00031847226(-5.47,-60.15)",AM,NOVO ARIPUANA
615909,NAILANE GONÇALVES DOS SNTOS,"MANEJO-00036493260(-5.373,-60.101)",AM,NOVO ARIPUANA
711032,RAFAEL DE ALENCAR QUIRINO,"MANEJO-00046275207(-5.27,-60.3)",AM,NOVO ARIPUANA
600405,DEPARTAMENTO DE ESTRADAS DE RODAGEM DO DF,"MANEJO-00070532000103(-15.733,-47.893)",DF,BRASILIA
...,...,...,...,...
513290,SCHMITT - COMERCIAL DE MADEIRAS LTDA.,PTO-98658974000161,RS,VERA CRUZ
657784,JDSF,PTO-997********,PA,RUROPOLIS
657645,JEANE DA SILVA FACIONI,PTO-99797992268,PA,RUROPOLIS
1229690,EDENILSON DE SOUZA E SILVA,PTO-99890070200,PA,ANAJAS
1229900,SJL,PTO-999********,PA,AFUA

In [22]:
desino_nodes = graph_df.reset_index()[["NomeDestino","DestinoID","UFDestino", "MunDestino"]].drop_duplicates()
desino_nodes.rename(columns={"NomeDestino":"Name", "DestinoID":"ID","UFDestino":"UF", "MunDestino":"Mun"}, inplace=True)
desino_nodes

,Name,ID,UF,Mun
0,L DIAS COM. DE MAD. E ARTEFATOS - ME (MADEKLE...,PTO-12175331000141,AM,MANICORE
1,DJ INDÚSTRIA E COMERCIO DE MADEIRAS E TRANSPOR...,PTO-10778505000135,AM,HUMAITA
2,MADEIREIRA MBM LTDA ME,PTO-11851021000137,AM,MANICORE
3,J P DE PEREIRA E CIA LTDA,PTO-22997712000160,AM,PARINTINS
4,IMADAM INDÚSTRIA DE MADEIRAS DO AMAZONAS LTDA,PTO-15016849000120,AM,NOVO ARIPUANA
...,...,...,...,...
1222986,CONSUMIDOR FINAL,FINAL-54081238049,RS,VERA CRUZ
1222987,JDSF,PTO-997********,PA,RUROPOLIS
1222988,JEANE DA SILVA FACIONI,PTO-99797992268,PA,RUROPOLIS
1222989,EDENILSON DE SOUZA E SILVA,PTO-99890070200,PA,ANAJAS
1222990,SJL,PTO-999********,PA,AFUA

In [23]:
total_nodes = pd.concat([origem_nodes, desino_nodes], ignore_index=True).drop_duplicates()
total_nodes

,Name,ID,UF,Mun
0,FABIO VAZ DE MELO,"MANEJO-00030966299(-7.997,-61.269)",AM,MANICORE
1,JARBAS CARDOSO DUARTE,"MANEJO-00031847226(-5.47,-60.15)",AM,NOVO ARIPUANA
2,NAILANE GONÇALVES DOS SNTOS,"MANEJO-00036493260(-5.373,-60.101)",AM,NOVO ARIPUANA
3,RAFAEL DE ALENCAR QUIRINO,"MANEJO-00046275207(-5.27,-60.3)",AM,NOVO ARIPUANA
4,DEPARTAMENTO DE ESTRADAS DE RODAGEM DO DF,"MANEJO-00070532000103(-15.733,-47.893)",DF,BRASILIA
...,...,...,...,...
1105749,CONSUMIDOR FINAL,FINAL-44123515053,RS,SANTA CRUZ DO SUL
1105750,CONSUMIDOR FINAL,FINAL-81114192015,RS,VERA CRUZ
1105751,CONSUMIDOR FINAL,FINAL-48143316068,RS,VERA CRUZ
1105752,CONSUMIDOR FINAL,FINAL-50774867000,RS,VERA CRUZ
1105753,CONSUMIDOR FINAL,FINAL-54081238049,RS,VERA CRUZ